/* add css module styles here (optional) */

.darkModeLayer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: white;
  mix-blend-mode: difference;
  z-index: 100;
  pointer-events: none
}

.darkModeBackground {
  background: white;
  width: 100%;
  height: 100%;
  z-index: -100;
  position: fixed;
}

.hide {
  display: none;
}

.backgroundWhite {
  background:white
}

.backgroundBlack {
  background: black;
}

.cicle {
  border-radius: 50%;
}